{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "pragma":"h" }],
    ["@babel/plugin-transform-react-jsx", { "pragma":"h" }]
  ]
}